:root{
  --titulo1: 4rem; 
  --titulo1-1:3rem;
  --texto1: 1.5rem;
  --texto2: 1rem;
  --cor-primaria: #0f0101;
  --gap2:20px;
  --tipo: 'Poppins', sans-serif;
  --cor-texto:#604C4C;
  --alturaL1:1.5rem;
}
.main{
  max-width: 1200px;
  margin: auto;
  padding: 120px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 160px;
}
.main-conteudo{
  display:flex;
  flex-direction: column;
  gap: var(--gap2);
}
.main-titulo{
  font-size: var(--titulo1);
  line-height: 1.1;
  color: var(--cor-primaria);
  font-family: var(--tipo);
}
.main-subtitulo, .main-texto{
  font-size: var(--texto1);
  font-weight: 500;
  color: var(--cor-texto);
  line-height: var(--alturaL1);
  
}

.main-localicao{
  font-size: var(--texto2);
  font-weight: 400;
  color: var(--cor-texto);
}
.main-texto{
  margin-top: 60px;
 font-weight: 400 ;
}
@media (max-width: 1120px) {
  .main-img{
    grid-row: 2;
  }
  .main{
    grid-template-columns: 1fr;
    padding: 40px 40px;
    box-sizing: border-box;
  }
  .main-titulo{
    font-size: var(--titulo1-1);
  }
}
